  
body{
    background-color: #19b13a;
}
#divPrincipal {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Centra las grillas */
}
h1{
    font-family: cursive;
}
p{
    font-family: fantasy;
}
#divCabecera{
    text-align: center;
    background-color: rgb(255, 0, 21);
    width: 100%;
    margin: 2%;
}
#divProductos {
    display: flex; /* Para que los elementos dentro de divProductos se muestren en una fila */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan a la siguiente fila cuando no haya suficiente espacio */
    justify-content: space-around; /* Espacio alrededor de los elementos, centrando la fila */
  }

.divCarta {
    /*width: calc(25% - 20px); /* Cada carta ocupa el 25% del ancho (para acomodar 4 en una fila) */
    width: 22%; /* Cada carta ocupa el 30% del ancho */
    margin: 1%; /* Margen entre los div */
    border: 3px solid #90972c; /* Borde opcional para visualizar los límites de los div */
    border-radius: 6px;
    box-sizing: border-box; /* Asegura que el tamaño total incluya el borde */
    overflow: hidden; /* Oculta cualquier contenido que exceda el tamaño del div */
}

.divFoto img {
    width: 100%; /* La imagen ocupa todo el ancho del divFoto */
   height: auto; /* Ajusta automáticamente la altura para mantener la proporción */
   object-fit: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
  }

.divFoto {
    width: 100%; /* 95% del ancho del contenedor */
    position: relative; /* Importante para el posicionamiento absoluto de la imagen */
}

.fotoProducto {
    width: 100%; /* 95% del ancho del contenedor */
    height: auto; /* Esto asegura que el alto se ajuste proporcionalmente al ancho */
    max-width: 100%; /* Para asegurarse de que la imagen no sea más ancha que su contenedor */
    display: block; /* Para eliminar cualquier espacio adicional que pueda aparecer */
}


@media (max-width: 600px) {
    .divCarta {
        width: 45%; /* Cuando la pantalla tenga menos de 600px, cada carta ocupará el 45% del ancho */
    }
}
@media(max-width:250px){
    .divCarta{
        width: 90%;
    }
}
.hidden-description {
    display: none;
  }
h6:hover + .hidden-description {
    display: block;
}

  .divFoto {
    position: relative; /* Esto permite que la imagen superpuesta esté posicionada dentro del contenedor */
  }
  
  .superpuesta {
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(0.3); /* Escala la imagen al 50% de su tamaño original */
    /* Ajusta el tamaño y otros estilos según sea necesario */
  }
    