doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
    script(src="./domCarrito.js", defer)
  body
    script. 
       console.log(carrito);     
         

    #divPrincipal
       #divCabecera
         h1 Bienvenido al carrito
         p Aquí podras modificar tu pedido y hacer tu compra
         button(type="button", onclick="comprar()") Comprar
       #divProductos
        table
          thead
             tr
             th Código
             th Título
             th Precio
             th Cantidad
             th Agregar 
             th Quitar 
             th Precio Subtotal
          tbody
             
          each producto in carrito    
              tr
              td producto.codigo
              td producto.titulo
              td producto.precioFinal
              td producto.cantidad
              td producto.precioSubtotal
              tr
              td ------
              td ------
              td cantidad total
              td#tdCantidadTotal 
              td -------
              td Precio Final
              td#tdPrecioTotal 
         

   
