doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
    script(src="./domCarrito.js", defer)
  body
    script. 
       console.log(carrito);     
         

    #divPrincipal
       #divCabecera
         h1 Bienvenido al carrito
         p Aquí podras modificar tu pedido y hacer tu compra
         button(type="button", onclick="comprar()") Comprar
       #divProductos
        table
          thead
             tr
             th Código
             th Título
             th Precio
             th Cantidad
             th Agregar 
             th Quitar 
             th Precio Subtotal
          tbody
            tr.trProducto
              td.tdCodigo 3
              td.tdTitulo pantalon 
              td.tdPrecio 55
              td.tdCantidad 1
              td  
                 button(type="button", onclick="agregar(this.parentNode.parentNode,true)") +++
              td 
                 button(type="button", onclick="agregar(this.parentNode.parentNode,false)") ---
              td.tdPrecioSubTotal 55
            tr.trProducto
              td.tdCodigo 6
              td.tdTitulo remera
              td.tdPrecio 45
              td.tdCantidad 1
              td  
                 button(type="button", onclick="agregar(this.parentNode.parentNode,true)") +
              td 
                 button(type="button", onclick="agregar(this.parentNode.parentNode,false)") -
              td.tdPrecioSubTotal 45
            tr
              td ------
              td ------
              td cantidad total
              td#tdCantidadTotal 
              td -------
              td Precio Final
              td#tdPrecioTotal 55
         

   
