doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    script(src="./domCarrito.js", defer)
    title Trabajo Integrador
    
  body
    script. 
           let carrito=[];  
           let carritoGuardado = localStorage.getItem('carrito');

            
           if (carritoGuardado !== null) {
               carrito = JSON.parse(carritoGuardado); // Convertir la cadena JSON de nuevo a un array
             // Ahora 'carrito' contiene los datos del carrito almacenados en localStorage
             // Puedes usar 'carrito' como lo necesites en tu aplicación
             console.log(carrito);
              } else {
                alert("carrito vacio");
               // Si 'carritoGuardado' es null, significa que no hay ningún carrito almacenado en localStorage
             // Puedes manejar esta situación de acuerdo a tus necesidades
             }

                   
         

    #divPrincipal
       #divCabecera
         h1 Bienvenido al carrito
         p Aquí podras modificar tu pedido y hacer tu compra
         button(type="button", onclick="comprar()") Comprar
       #divProductos
        table
          thead
             tr
             th Código
             th Título
             th Precio
             th Cantidad
             th Agregar 
             th Quitar 
             th Precio Subtotal
          
             
         

   
