doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="shortcut icon", href="./icono.png", type="image/x-icon")
    link(rel="stylesheet", href="./estilo.css")
    title Trabajo Integrador
    script(src="./domCarrito.js", defer)
  body
    #divPrincipal
       #divCabecera
         h1 Gracias por su compra
         p Esataremos siempre a su dispocicion
        
       #divProductos